<!DOCTYPE html>

<html lang="pt-br">

<head>

    <link rel="stylesheet" href="../css/home.css">
    <meta charset="utf-8">
    <title>Cancycle</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">-->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">-->

    <script src="https://kit.fontawesome.com/3d4a9e6020.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/feather-icons"></script>
</head>

<body>

    <header>

        <nav class="superior-bar">
            <p>Cancycle</p>
            <ul>
                <li><a href="#reciclagem">RECICLÁVEIS</a></li>
                <li><a href="#sobre">SOBRE NÓS</a></li>

                <li><a href="LogineCadastro.html" data-bs-toggle="dropdown" id="navDrop">ENTRE OU CADASTRE-SE!</a>

                </li>
            </ul>

        </nav>


        <div id="home" class="header-content">
            <h1>Faça a diferença!</h1>
            <p>Transforme suas latas usadas em benefícios para o planeta e para o seu negócio.
                Participe do nosso sistema de reciclagem inteligente
                e faça parte de um futuro mais sustentável!</p>
        </div>
    </header>

    <main>

        <!---------SERVIÇOS------------->

        <section id="sobre" class="servicos">
            <h1 class="servicos-title">O que é o Cancycle?</h1>
            <div class="servicos-cards">
                <div class="card">
                    <i data-feather="user"></i>
                    <div class="card-content">
                        <h3>Para Clientes</h3>
                        <p>Descarte suas latas de forma prática! 💚 Traga suas latas usadas aos estabelecimentos
                            parceiros CanCycle, ganhe pontos a cada entrega e troque por recompensas exclusivas. Recicle
                            e ganhe com a gente!</p>
                    </div>

                </div>

                <div class="card">
                    <i data-feather="shopping-cart"></i>
                    <div class="card-content">
                        <h3>Para Estabelecimentos</h3>
                        <p>Aumente seu engajamento e ajude o meio ambiente! ♻️ Ao se tornar um ponto de coleta CanCycle,
                            seu estabelecimento recebe latas para reciclagem e gera um impacto positivo. Além disso,
                            atraímos mais clientes conscientes para o seu negócio!

                        </p>
                    </div>

                </div>

                <div class="card">
                    <i data-feather="trash"></i>
                    <div class="card-content">
                        <h3>Sobre o Cancycle</h3>
                        <p>O CanCycle conecta clientes e estabelecimentos para promover a reciclagem de latas. 💪 Cada
                            lata descartada no sistema viram recompensas, incentivando o consumo responsável e
                            diminuindo o impacto ambiental. Vamos juntos construir um futuro mais sustentável! </p>
                    </div>
                </div>
            </div>
        </section>

        <!----------PACOTES--------->

        <section id="reciclagem" class="pacotes">
            <h1 class="pacotes-title">O QUE É RECICLÁVEL?</h1>

            <div class="pacotes-cards">

                <!-- Card de Alumínio -->
                <div class="card">
                    <div class="card-tag card-tag-bottom">
                        <p>Reciclável</p>
                    </div>
                    <img class="card-image" src="../../img/lata.jpeg" alt="Alumínio" height="50" width="50">
                    <div class="card-content">
                        <h1>Alumínio</h1>
                        <p>Inclui latas de bebidas, recipientes e outros itens de alumínio.</p>
                    </div>
                </div>

                <!-- Card de Plástico -->
                <div class="card">
                    <div class="card-tag card-tag-bottom">
                        <p>Reciclável</p>
                    </div>
                    <img class="card-image" src="../../img/canada.jpg" alt="Plástico" height="50" width="50">
                    <div class="card-content">
                        <h1>Plástico</h1>
                        <p>Garrafas PET, recipientes de comida e outros plásticos comuns.</p>
                    </div>
                </div>

                <!-- Card de Óleo de Cozinha -->
                <div class="card">
                    <div class="card-tag card-tag-bottom">
                        <p>Reciclável</p>
                    </div>
                    <img class="card-image" src="../../img/fortaleza.jpg" alt="Óleo de Cozinha" height="50" width="50">
                    <div class="card-content">
                        <h1>Óleo de Cozinha</h1>
                        <p>Recolha e descarte de óleo usado para reciclagem segura.</p>
                    </div>
                </div>

                <!-- Card de Papelão -->
                <div class="card">
                    <div class="card-tag card-tag-bottom">
                        <p>Reciclável</p>
                    </div>
                    <img class="card-image" src="../../img/paris.jpeg" alt="Papelão" height="50" width="50">
                    <div class="card-content">
                        <h1>Papelão</h1>
                        <p>Caixas e embalagens de papelão utilizadas em entregas e armazenamento.</p>
                    </div>
                </div>

                <!-- Card de Vidro -->
                <div class="card">
                    <div class="card-tag card-tag-bottom">
                        <p>Reciclável</p>
                    </div>
                    <img class="card-image" src="../../img/miami.jpeg" alt="Vidro" height="50" width="50">
                    <div class="card-content">
                        <h1>Vidro</h1>
                        <p>Garrafas de bebidas e outros recipientes de vidro.</p>
                    </div>
                </div>

            </div>
        </section>

        </a>


        <script>
            // feather icons
            feather.replace();

            document.querySelectorAll('a[href^="#"]').forEach(anchor => {
                anchor.addEventListener('click', function (e) {
                    e.preventDefault();

                    document.querySelector(this.getAttribute('href')).scrollIntoView({
                        behavior: 'smooth'
                    });
                });
            });
        </script>



    </main>

    <footer class="footer">
        <section id="contato" class="servicos">
            <h1 class="servicos-title">CONTATO</h1>
            <div class="servicos-cards">
                <div class="card">
                    <i data-feather="mail"></i>
                    <div class="card-content">
                        <h3>EMAILS</h3>
                        <p>*******@gmail.com</p>
                    </div>
                </div>

                <div class="card">
                    <i data-feather="map-pin"></i>
                    <div class="card-content">
                        <h3>LOCAL</h3>
                        <p>Belo Horizonte</p>
                    </div>
                </div>

                <div class="card">
                    <i data-feather="phone"></i>
                    <div class="card-content">
                        <h3>WHATS</h3>
                        <p>Telefone:XXXXXXXX</p>
                    </div>
                </div>
            </div>
        </section>
        <script>
            // feather icons
            feather.replace();

            document.querySelectorAll('a[href^="#"]').forEach(anchor => {
                anchor.addEventListener('click', function (e) {
                    e.preventDefault();

                    document.querySelector(this.getAttribute('href')).scrollIntoView({
                        behavior: 'smooth'
                    });
                });
            });
        </script>


        <p class="footertext">© 2024 Copyright: TI</p>
    </footer>

    <!--<script src="https://kit.fontawesome.com/f0e17cbf2f.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>-->
</body>



</html>